:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #072f07;

  width: max-content;
  display: flex;
  place-items: center;
  font-synthesis: none;
  margin-left: auto;
  margin-right: auto;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-width: 100vh;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a68;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #084c07;

  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* My added Code kept styling from base, will be changed */

body {
  font-family: Arial, sans-serif;
}

.startButton {
  font-size: xx-large;
}
.App {
  text-align: center;
}

.hand,
.deck,
.turn-indicator {
  margin: 10px;
}

.card {
  display: inline-block;
  margin: 5px;
}

.card img {
  width: 100px;
}

.attack-card {
  margin: 10px;
}

h2 {
  margin: 0;
  padding: 5px;
  font-size: 1.2em;
}

.deck-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.stackCard {
  width: 100px;
}
.slot {
  width: 100px;
  height: 150px;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.empty-slot {
  text-align: center;
}
.trumpCard {
  width: 100px;
  box-shadow: 0px 0px 5px 7px rgba(255, 202, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 7px rgba(255, 202, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 7px rgba(255, 202, 0, 0.75);
}
